.root {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}

.folder_structure {
  display: flex;
  font-size: 25px;
  align-items: center;
}

.folder_margin {
  margin-right: 5px;
}

.create_structure {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  justify-content: space-between;
}